
transformers
sentencepiece
scikit-learn

# --- Audio & Video Processing ---
moviepy

pydub


torchvision
torchaudio

# --- Data Handling ---
numpy
pandas


openai-whisper

# --- Utilities ---
pydantic

fastapi
uvicorn
yt-dlp
transformers
torch
nltk
sumy
ffmpeg-python
whisper
